astropy
cosmopy
h5py
ipywidgets   # required for tqdm to work (at the moment, looks like a bug)
kalepy
matplotlib
numpy
scipy
# pydoe
psutil
tqdm
cython<3.0.0
# schwimmbad  # used in the `gps` submodule
# emcee   # used in the `gps` submodule
# george  # used in the `gps` submodule
# sympy   # used in the detstats submodule
# hasasia   # used in the detstats submodule
# healpy   # used in the anisotropy submodule
# mpi4py
